@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');

:root {
	--dateSize: 50px;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.head {
	background: linear-gradient(to right, #FF621F, #AC25FF);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.title {
	font-size: 20vw;
	font-weight: 900;
	margin-top: 0;
	margin-bottom: 0;
}

.desc {
	display: flex;
	justify-content: space-between;
	font-size: 8vw;
	text-transform: uppercase;
	margin-bottom: 32px;
}

.calendar {
	text-transform: uppercase;
	font-weight: 900;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 32px;
}

.round {
  width: 10em;
  height: 10em;
  border: 2px #AC25FF;
  border-radius: 50%;
  line-height: 10em;
  text-align: center;
  background: mistyrose;
}

.month_name {
	color: #AA0E6C;
	margin-bottom: 16px;
	font-size: 22px;
}

.month_content {
	display: inline-grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 2px;
}

.month_date {
	width: var(--dateSize);
	height: calc(var(--dateSize) / 2);
	color: #83818E;
	display: flex;
	align-items: center;
	justify-content: center;
}

.month_date_accent {
	color: #E6007E;
}