@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');

:root {
	--dateSize: 50px;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
	background: linear-gradient(to right, #FF621F, #AC25FF);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.title {
	font-size: 20vw;
	font-weight: 900;
	margin-top: 0;
	margin-bottom: 0;
}

.desc {
	display: flex;
	justify-content: space-between;
	font-size: 2vw;
	text-transform: uppercase;
	margin-bottom: 32px;
}

.calendar {
	text-transform: uppercase;
	font-weight: 900;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
}

.day {
  width: 10em;
  height: 10em;
  /*border: 2px #AC25FF;*/
  border-radius: 50%;
  line-height: 10em;
  text-align: center;
  background: MistyRose;
}

.night {
  text-shadow: 1px 1px 1px #fff;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  line-height: 10em;
  text-align: center;
  background: LightSlateGray;
}

.holiday {
  text-shadow: 1px 1px 1px #fff;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  line-height: 10em;
  text-align: center;
  background: LightSteelBlue;
}

.sickday {
  text-shadow: 1px 1px 1px #fff;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  line-height: 10em;
  text-align: center;
  background: MediumVioletRed;
}

.dismissal {
  text-shadow: 1px 1px 1px #fff;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  line-height: 10em;
  text-align: center;
  background: LightCoral;
}
.light {
  text-shadow: 1px 1px 1px #fff;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  line-height: 10em;
  text-align: center;
  background: #30A3BC;
}

.hard {
  text-shadow: 1px 1px 1px #fff;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  line-height: 10em;
  text-align: center;
  background: #BEE181;
}

.btrip {
  text-shadow: 1px 1px 1px #fff;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  line-height: 10em;
  text-align: center;
  background: PaleGreen;
}

.month_name {
	color: #AA0E6C;
	margin-bottom: 16px;
	font-size: 22px;
}

.month_content {
	display: inline-grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 2px;
}

.month_date {
	width: var(--dateSize);
	height: calc(var(--dateSize) / 2);
	color: #3B6CAE;
	display: flex;
	align-items: center;
	justify-content: center;
}

.month_date_accent {
	color: #FF621F;
}

.tooltip {
      position: fixed;
      padding: 10px 20px;
      border: 1px solid #b3c9ce;
      border-radius: 4px;
      text-align: center;
      /*font: italic 14px/1.3 sans-serif;*/
      color: #333;
      background: #fff;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

.prev-date,
.next-date {
  opacity: 0.5;
}