<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Welcome to shift-app</title>
</head>
<body>
    <div>
        Hello, user!
    </div>
    <div>
        <a href="/inshift?date={{today}}">Сегодня в смене</a>
        <a href="/inshift?date={{tomorrow}}">>>></a>
    </div>
</body>
</html>