<body>
<div>
    <h2>Upload CSV-files</h2>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <div>
            <input type="file" name="file" accept="application/csvm+json">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        </div>
        <button type="submit">Upload file</button>
    </form>
    <div>
        Files list
    </div>
    <form method="get" action="/upload">
        {{msg}}
        <button type="submit">Refresh</button>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </form>
</div>
</body>