<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>{{date}} на смене:</title>
</head>
<body>
<a href="/">На главную</a>
<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
</form>
<form>
    <p>
        <input type="date" name="calendar" value={{date}}
               max="endYear" min="startYear">
        <input type="submit" value="Выбрать">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </p>
</form>
<div>{{date}} на смене:</div><br>
    {{#repo}}
        <b>{{name}}</b> <i>{{description}}</i> {{shiftType}}<br>
    {{/repo}}
<div><br>
    В ночь: <br><br>
</div>
    {{#night}}
    <b>{{name}}</b> <i>{{description}}</i> {{shiftType}}<br>
    {{/night}}
</body>
