<!DOCTYPE html>
<head>
    <meta http-equiv='content-type' value='text/html;charset=utf-8'>
    <title>Employee in shift</title>
</head>
<body>
<div>на смене:</div>
    {{#repo}}
        <b>{{name}}</b>
        <i>{{description}}</i><br>
    {{/repo}}
</body>
