<!DOCTYPE html>
<head>
    <meta http-equiv='content-type' value='text/html;charset=windows-1251'>
    <title>Today in shift</title>
</head>
<body>
<div>Сегодня на смене:</div>
    {{#repo}}
        <div>
            <b>{{employee.name}}</b> <i>{{description}}</i><br>
        </div>
    {{/repo}}
</body>
