<html>
<body>
<div>Список смен</div>
    {{shifts}}
        <div>
            {{shift.name}}
            {{shift.date}}
            {{shift.description}}
        </div>
    {{/shifts}}
</body>
</html>
